body{
    background-color: black;
}
h1{
    color: yellow;
    text-align: center;
    font-weight: 900;
}
p{
    color: white;
    text-align: center;
}
p b{
    color: green;
}
image{
    height: 400px;
}
table tr{
    color: white;
    text-align: center;
    width: 5000px;
    background-color: black;
    border: 1px solid antiquewhite;
}
.bbb{
    background-color: black;
}

td{
    width: 500px;
}
button{
    width: 500px;
    text-align: center;
    border-radius: 30px;
    margin-left: 35%;
    background-color: yellow;
    color: black;
}
input{
width: 5000px;
border-radius: 10px;
}